<form *ngIf="isLoading" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Sipariş Ekranı</h4>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width">

                                      
                                          <input type="text" matInput
                                          placeholder="Musteri seçimek için arama yapınız"
                                          [formControl]="control"
                                          [matAutocomplete]="auto">
                                   <mat-autocomplete #auto="matAutocomplete"
                                   (optionSelected)="onMusteriChange($event.option.value)">
                                     <mat-option *ngFor="let musteri of filteredMusteriler | async" 
                                     [value]="musteri.name">
                                       {{musteri.name}}
                                     </mat-option>
                                   </mat-autocomplete>
                                </mat-form-field>

                                    <!--
                                        <mat-label>Müşteri Adı</mat-label>
                                          <mat-form-field appearance="fill">
                                        <mat-select (selectionChange)="selectionMusteri($event)"
                                            formControlName="musteriAdi">
                                            <mat-option *ngFor="let musteri of musteriler" [value]="musteri">
                                                {{musteri.name}} ( {{musteri.address}})
                                            </mat-option>
                                        </mat-select>
                                         </mat-form-field>
                                    -->
                                   
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-tab-group>
                                        <mat-tab label="{{kategori.categoryName}}" *ngFor="let kategori of kategoriler">
                                            <div class="card-body">
                                                <div class="row" formArrayName="urunler"
                                                    *ngFor="let item of formGroup.get('urunler').controls let i = index;">
                                                    <div class="col-md-4" [formGroupName]="i">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput readonly formControlName="urunAdi"
                                                                placeholder="Urun Adi" type="text">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3" [formGroupName]="i">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput formControlName="adet" placeholder="Adet"
                                                                type="text">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3" [formGroupName]="i">

                                                        <button mat-raised-button type="button"
                                                            (click)="ekle(item)">Ekle</button>

                                                    </div>
                                                    <div class="col-md-2" [formGroupName]="i">
                                                        <mat-form-field class="example-full-width">
                                                            <input readonly matInput formControlName="fiyat"
                                                                placeholder="Fiyat" type="text">
                                                        </mat-form-field>
                                                    </div>

                                                </div>
                                            </div>

                                        </mat-tab>

                                    </mat-tab-group>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Sipariş Kalemleri</h4>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="card-category text-gray"> {{seciliMusteri.name}}</h3>
                                    <h4 class="card-category text-gray"> {{seciliMusteri.phone}}</h4>
                                    <h6 class="card-category text-gray"> {{seciliMusteri.address}}</h6>
                                </div>

                            </div>
                            <div class="row" formArrayName="siparisUrunler"
                                *ngFor="let sip of formGroup.get('siparisUrunler').controls;let i = index;">
                                <div class="col-md-4" [formGroupName]="i">
                                    <mat-form-field class="example-full-width">
                                        <input matInput readonly formControlName="urunAdi" placeholder="Urun Adi"
                                            type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" [formGroupName]="i">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="adet" placeholder="Adet" type="text">
                                    </mat-form-field>
                                </div>
                               
                                <div class="col-md-2" [formGroupName]="i">
                                    <mat-form-field class="example-full-width">
                                        <input readonly matInput formControlName="fiyat" placeholder="Fiyat"
                                            type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-9" [formGroupName]="i">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Açıklama" rows="2" formControlName="aciklama"
                                            maxlength="150"> </textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" [formGroupName]="i">

                                    <button mat-raised-button type="button" (click)="ekle(sip)">Sil</button>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <button mat-raised-button type="submit"
                                        class="btn btn-danger pull-right">Sipariş Ver</button>
                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>